.navbar{ 
    display: flex; 
    background-color: #F5B041;
}
.site-name{
    padding: 5px 30px; 
    color:#000000;
} 
.site-navigation{ 
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 10px 30px; 
    margin-left: 100px; 
} 
a{ 
    text-decoration: none; 
    color:#212F3D; 
    margin: 0px 10px;
    float: left;
}
.cart{
    float: right;
    align-items: end;
    width: 80px;
    text-align: center;
    justify-content: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
}