<div>
    <app-search
    (searchTextChanged)="onSearch($event)">

    </app-search>
</div>
<div>
    <app-filter 
    [all]="getTotalProducts()"
    [available]="getAvailableProducts()"
    [notAvailable]="getNotAvailableProducts()"
    (filterProducts)="onFilterChange($event)"
    ></app-filter>
</div>
<ng-container *ngFor = "let p of products; let i = index">
    <div *ngIf="productsCountRadioButton === 'All' || productsCountRadioButton === p.available">
        <div *ngIf="searchTextValue === '' || p.name.toLowerCase().includes(searchTextValue.toLowerCase())">
        <div class="product-container" [ngStyle]="{backgroundColor: p.available === 'Available' ? '#D5F5E3':'#FADBD8'}">
            <div><p class="index"><b>{{i+1}}.</b></p></div>
            <div class="image-container"><img [src]="p.image" alt="" style="max-height: 50px; max-width: 50px;"></div>
            <div>
                <div class="name-container"><h6>{{p.name}}</h6></div>
                <div class="detail-container">
                    <div class="details" [ngStyle]="{color: p.available === 'Available' ? 'Green':'Red'}">{{p.available}}</div>
                    <div class="details"><b>Price: </b>${{p.price}}</div>
                    <div class="details"><b>Color: </b>{{p.color}}</div>
                </div>
            </div>
            <div class="options">
                <button class="btn btn-success">Show Details</button>
                <button class="btn btn-warning" *ngIf="p.available === 'Available'; else notifyme"><b>Buy Now!</b></button>
                <ng-template #notifyme>
                    <button class="btn btn-danger">Notify Me</button>
                </ng-template>
            </div>
        </div>
        </div>
    </div>
</ng-container>